<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Find Locations</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="address" placeholder="Address" aria-label="Search" name="address" [(ngModel)]="address">
          <input class="form-control me-2" type="city" placeholder="City" aria-label="Search" name="city" [(ngModel)]="city">
          <input class="form-control me-2" type="country" placeholder="Country" aria-label="Search" name="country" [(ngModel)]="country">
          <button class="btn btn-outline-success" type="submit" (click)="getRelatedAddress()">Search</button>
        </form>
      </div>
    </div>
  </nav>